---
import { ArrowRightIcon, CalendarIcon, ClockIcon } from '@phosphor-icons/react';
import { type CollectionEntry } from 'astro:content';
import { format } from 'date-fns';

import Text from '@/components/Text.astro';

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();
---

<div class="bg-surface-1 rounded-md border p-4 md:p-6">
    <Text class="pt-0 md:pt-0" variant="h4">
        <a href={`/blog/${post.slug}`} class="text-fg-0 no-underline">
            {post.data.title}
        </a>
    </Text>
    <div class="text-fg-2 flex flex-col gap-2 pt-4 md:flex-row md:gap-6">
        <div class="flex items-center gap-2">
            <CalendarIcon className="h-4 w-4" />
            {format(post.data.publishedAt, 'MMMM dd, yyyy')}
        </div>
        <div class="flex items-center gap-2">
            <ClockIcon className="h-4 w-4" />
            {remarkPluginFrontmatter.minutesRead}
        </div>
    </div>
    <Text>
        {remarkPluginFrontmatter.excerpt}
        <a href={`/blog/${post.slug}`}>
            {`read the post `}<ArrowRightIcon className="inline-block" />
        </a>
    </Text>
</div>
